In [10]:
import pandas as pd
import numpy as np

In [2]:
from geopy.geocoders import Nominatim

In [60]:
def geocoding(address):
    geo_list = []
    try:
        geo_lo_coder = Nominatim(user_agent='South Korea', timeout=None)
        geo = geo_lo_coder.geocode(address)
        geo_list.append({'lat': str(geo.latitude), 'lng': str(geo.longitude)})
    except AttributeError:
        geo_list.append({'lat': '', 'lng': ''})
    finally:
        return geo_list

In [5]:
# 기관 정보.xlsx
data = pd.read_excel("./기관_정보.xlsx")
data

,Unnamed: 0,인덱스,지역,기관명,주소,전화번호(1),전화번호(2),대상,유형,정원,홈페이지 주소,Unnamed: 11
0,NaN,1.0,서울,서울시립용산일시청소년쉼터,서울 용산구 만리재로 156-1,02-718-1318,NaN,공용,일시,10.0,http://www.nuryworld.kr/,NaN
1,NaN,2.0,서울,은평구립일시청소년쉼터,서울 은평구 통일로 89길 6-20 (갈현동),02-382-1388,NaN,여자,일시(고정형),10.0,NaN,NaN
2,NaN,3.0,서울,강서청소년쉼터,"서울 강서구 초록마을로 10길 5, 201호",02-2697-7377,NaN,남자,단기,8.0,http://www.ishelter.or.kr/gnu/,NaN
3,NaN,4.0,서울,서울시립강북청소년드림센터,서울 강북구 한천로140길 5-26(수유 3동),02-6435-7979,NaN,남자,일시(고정형),10.0,http://www.gbdream.or.kr/index.php,NaN
4,NaN,5.0,서울,서울시립금천청소년단기쉼터,서울특별시 금천구 가산디지털1로 120,02-3281-8200,NaN,여자,단기,20.0,http://www.youthzone.or.kr/y/,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,132.0,충북,친구청소년쉼터(남자),충북 충주시 금봉 3길 27,043-911-3479,NaN,남자,단기,7.0,http://www.chingu3479.com/,NaN
132,NaN,133.0,충북,제천여자단기펑소년쉼터(본청소년쉼터),충북 제천시 고암로4가길 3,043-643-7946,NaN,여자,단기,7.0,https://www.jecheon.go.kr/www/contents.do?key=...,페이스북: https://www.facebook.com/jcbom79/
133,NaN,134.0,충북,청주남자단기청소년쉼터,충청북도 청주시 서원구 구룡산로 331-9,043-231-2676,NaN,남자,단기,15.0,http://cjfriend2676.co.kr/,NaN
134,NaN,135.0,충북,충추시여자중장기청소년쉼터,충북 충주시 봉헌로 109,043-853-0924,NaN,여자,중장기,7.0,* 135와 동일? 136과 137 아무리 찾아도 안나옴.,NaN
135,NaN,136.0,충북,충청북도중장기청소년쉼터,"충북 청주시 흥덕구 신율로 166, 3층",043-266-2204,043-262-2204,남자,중장기,7.0,NaN,NaN

In [19]:
data.head()

,Unnamed: 0,인덱스,지역,기관명,주소,전화번호(1),전화번호(2),대상,유형,정원,홈페이지 주소,Unnamed: 11
0,NaN,1.0,서울,서울시립용산일시청소년쉼터,서울 용산구 만리재로 156-1,02-718-1318,NaN,공용,일시,10.0,http://www.nuryworld.kr/,NaN
1,NaN,2.0,서울,은평구립일시청소년쉼터,서울 은평구 통일로 89길 6-20 (갈현동),02-382-1388,NaN,여자,일시(고정형),10.0,NaN,NaN
2,NaN,3.0,서울,강서청소년쉼터,"서울 강서구 초록마을로 10길 5, 201호",02-2697-7377,NaN,남자,단기,8.0,http://www.ishelter.or.kr/gnu/,NaN
3,NaN,4.0,서울,서울시립강북청소년드림센터,서울 강북구 한천로140길 5-26(수유 3동),02-6435-7979,NaN,남자,일시(고정형),10.0,http://www.gbdream.or.kr/index.php,NaN
4,NaN,5.0,서울,서울시립금천청소년단기쉼터,서울특별시 금천구 가산디지털1로 120,02-3281-8200,NaN,여자,단기,20.0,http://www.youthzone.or.kr/y/,NaN

In [27]:
data.loc[0]["주소"]

'서울 용산구 만리재로 156-1'

In [63]:
data[["주소"]]

                             주소
0             서울 용산구 만리재로 156-1
1     서울 은평구 통일로 89길 6-20 (갈현동)
2      서울 강서구 초록마을로 10길 5, 201호
3    서울 강북구 한천로140길 5-26(수유 3동)
4         서울특별시 금천구 가산디지털1로 120
..                          ...
131             충북 충주시 금봉 3길 27
132             충북 제천시 고암로4가길 3
133     충청북도 청주시 서원구 구룡산로 331-9
134              충북 충주시 봉헌로 109
135      충북 청주시 흥덕구 신율로 166, 3층

[136 rows x 1 columns]

In [64]:
df_values = data[["주소"]].values

In [66]:
geo_list = []
for dfv in df_values:
    try:
        geo_lo_coder = Nominatim(user_agent='South Korea', timeout=None)
        geo = geo_lo_coder.geocode(dfv)
        geo_list.append({'lat': str(geo.latitude), 'lng': str(geo.longitude)})
    except AttributeError:
        geo_list.append({'lat': '', 'lng': ''})

In [67]:
geo_list

[{'lat': '37.5552616', 'lng': '126.968931'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '37.4722607', 'lng': '126.882423'},
 {'lat': '37.4678169', 'lng': '126.901259'},
 {'lat': '', 'lng': ''},
 {'lat': '37.6010773', 'lng': '127.0972538'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '36.7889207', 'lng': '126.965844'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '36.6979606', 'lng': '128.8100579'},
 {'lat': '36.0270813', 'lng': '129.370252'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '36.1265459', 'lng': '128.3323248'},
 {'lat': '36.0206763', 'lng': '129.3531537'},
 {'lat': '35.2287553', 'lng': '128.700803'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '35.2621747', 'lng': '128.6393402'},
 {'lat': '', 'lng': ''},
 {'lat': '33.2544362', 'lng': '126.5134516'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '33.3705835', 'lng': '126.2833306'},
 {'lat': '35.5895005', 'lng': '129.3703496'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '37.41171145', 'lng': '126.6815816'},
 {'lat': '37.4876849', 'lng': '126.7378148'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '37.5973194', 'lng': '127.1372263'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '37.33684905', 'lng': '126.84212796793051'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '37.9246445', 'lng': '127.7237011'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''},
 {'lat': '37.155593', 'lng': '128.2162351'},
 {'lat': '36.6186079', 'lng': '127.4902721'},
 {'lat': '', 'lng': ''},
 {'lat': '', 'lng': ''}]

In [73]:
data

,Unnamed: 0,인덱스,지역,기관명,주소,전화번호(1),전화번호(2),대상,유형,정원,홈페이지 주소,Unnamed: 11
0,NaN,1.0,서울,서울시립용산일시청소년쉼터,서울 용산구 만리재로 156-1,02-718-1318,NaN,공용,일시,10.0,http://www.nuryworld.kr/,NaN
1,NaN,2.0,서울,은평구립일시청소년쉼터,서울 은평구 통일로 89길 6-20 (갈현동),02-382-1388,NaN,여자,일시(고정형),10.0,NaN,NaN
2,NaN,3.0,서울,강서청소년쉼터,"서울 강서구 초록마을로 10길 5, 201호",02-2697-7377,NaN,남자,단기,8.0,http://www.ishelter.or.kr/gnu/,NaN
3,NaN,4.0,서울,서울시립강북청소년드림센터,서울 강북구 한천로140길 5-26(수유 3동),02-6435-7979,NaN,남자,일시(고정형),10.0,http://www.gbdream.or.kr/index.php,NaN
4,NaN,5.0,서울,서울시립금천청소년단기쉼터,서울특별시 금천구 가산디지털1로 120,02-3281-8200,NaN,여자,단기,20.0,http://www.youthzone.or.kr/y/,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,132.0,충북,친구청소년쉼터(남자),충북 충주시 금봉 3길 27,043-911-3479,NaN,남자,단기,7.0,http://www.chingu3479.com/,NaN
132,NaN,133.0,충북,제천여자단기펑소년쉼터(본청소년쉼터),충북 제천시 고암로4가길 3,043-643-7946,NaN,여자,단기,7.0,https://www.jecheon.go.kr/www/contents.do?key=...,페이스북: https://www.facebook.com/jcbom79/
133,NaN,134.0,충북,청주남자단기청소년쉼터,충청북도 청주시 서원구 구룡산로 331-9,043-231-2676,NaN,남자,단기,15.0,http://cjfriend2676.co.kr/,NaN
134,NaN,135.0,충북,충추시여자중장기청소년쉼터,충북 충주시 봉헌로 109,043-853-0924,NaN,여자,중장기,7.0,* 135와 동일? 136과 137 아무리 찾아도 안나옴.,NaN
135,NaN,136.0,충북,충청북도중장기청소년쉼터,"충북 청주시 흥덕구 신율로 166, 3층",043-266-2204,043-262-2204,남자,중장기,7.0,NaN,NaN

In [72]:
geo_df = pd.DataFrame(geo_list)
geo_df

            lat          lng
0    37.5552616   126.968931
1
2
3
4    37.4722607   126.882423
..          ...          ...
131
132   37.155593  128.2162351
133  36.6186079  127.4902721
134
135

[136 rows x 2 columns]

In [74]:
result = pd.concat([data, geo_df], axis=1)

In [75]:
result

,Unnamed: 0,인덱스,지역,기관명,주소,전화번호(1),전화번호(2),대상,유형,정원,홈페이지 주소,Unnamed: 11,lat,lng
0,NaN,1.0,서울,서울시립용산일시청소년쉼터,서울 용산구 만리재로 156-1,02-718-1318,NaN,공용,일시,10.0,http://www.nuryworld.kr/,NaN,37.5552616,126.968931
1,NaN,2.0,서울,은평구립일시청소년쉼터,서울 은평구 통일로 89길 6-20 (갈현동),02-382-1388,NaN,여자,일시(고정형),10.0,NaN,NaN,,
2,NaN,3.0,서울,강서청소년쉼터,"서울 강서구 초록마을로 10길 5, 201호",02-2697-7377,NaN,남자,단기,8.0,http://www.ishelter.or.kr/gnu/,NaN,,
3,NaN,4.0,서울,서울시립강북청소년드림센터,서울 강북구 한천로140길 5-26(수유 3동),02-6435-7979,NaN,남자,일시(고정형),10.0,http://www.gbdream.or.kr/index.php,NaN,,
4,NaN,5.0,서울,서울시립금천청소년단기쉼터,서울특별시 금천구 가산디지털1로 120,02-3281-8200,NaN,여자,단기,20.0,http://www.youthzone.or.kr/y/,NaN,37.4722607,126.882423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,132.0,충북,친구청소년쉼터(남자),충북 충주시 금봉 3길 27,043-911-3479,NaN,남자,단기,7.0,http://www.chingu3479.com/,NaN,,
132,NaN,133.0,충북,제천여자단기펑소년쉼터(본청소년쉼터),충북 제천시 고암로4가길 3,043-643-7946,NaN,여자,단기,7.0,https://www.jecheon.go.kr/www/contents.do?key=...,페이스북: https://www.facebook.com/jcbom79/,37.155593,128.2162351
133,NaN,134.0,충북,청주남자단기청소년쉼터,충청북도 청주시 서원구 구룡산로 331-9,043-231-2676,NaN,남자,단기,15.0,http://cjfriend2676.co.kr/,NaN,36.6186079,127.4902721
134,NaN,135.0,충북,충추시여자중장기청소년쉼터,충북 충주시 봉헌로 109,043-853-0924,NaN,여자,중장기,7.0,* 135와 동일? 136과 137 아무리 찾아도 안나옴.,NaN,,
135,NaN,136.0,충북,충청북도중장기청소년쉼터,"충북 청주시 흥덕구 신율로 166, 3층",043-266-2204,043-262-2204,남자,중장기,7.0,NaN,NaN,,

In [76]:
result.to_excel('./기관_정보_위경도.xlsx')

### 카카오 API 이용

In [2]:
import requests, json

In [6]:
def addr_to_lat_lon(addr):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={address}'.format(address=addr)
    headers = {"Authorization": "KakaoAK " + "my api key"}
    result = json.loads(str(requests.get(url, headers=headers).text))
    match_first = result['documents'][0]['address']
    return float(match_first['x']), float(match_first['y'])

In [14]:
lng, lat = addr_to_lat_lon('서울 은평구 통일로 89길 6-20 (갈현동)')

In [15]:
lng

126.919468871602

In [11]:
data = pd.read_excel("./기관_정보.xlsx")

In [12]:
data

,Unnamed: 0,인덱스,지역,기관명,주소,전화번호(1),전화번호(2),대상,유형,정원,홈페이지 주소,Unnamed: 11
0,NaN,1.0,서울,서울시립용산일시청소년쉼터,서울 용산구 만리재로 156-1,02-718-1318,NaN,공용,일시,10.0,http://www.nuryworld.kr/,NaN
1,NaN,2.0,서울,은평구립일시청소년쉼터,서울 은평구 통일로 89길 6-20 (갈현동),02-382-1388,NaN,여자,일시(고정형),10.0,NaN,NaN
2,NaN,3.0,서울,강서청소년쉼터,"서울 강서구 초록마을로 10길 5, 201호",02-2697-7377,NaN,남자,단기,8.0,http://www.ishelter.or.kr/gnu/,NaN
3,NaN,4.0,서울,서울시립강북청소년드림센터,서울 강북구 한천로140길 5-26(수유 3동),02-6435-7979,NaN,남자,일시(고정형),10.0,http://www.gbdream.or.kr/index.php,NaN
4,NaN,5.0,서울,서울시립금천청소년단기쉼터,서울특별시 금천구 가산디지털1로 120,02-3281-8200,NaN,여자,단기,20.0,http://www.youthzone.or.kr/y/,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,132.0,충북,친구청소년쉼터(남자),충북 충주시 금봉 3길 27,043-911-3479,NaN,남자,단기,7.0,http://www.chingu3479.com/,NaN
132,NaN,133.0,충북,제천여자단기펑소년쉼터(본청소년쉼터),충북 제천시 고암로4가길 3,043-643-7946,NaN,여자,단기,7.0,https://www.jecheon.go.kr/www/contents.do?key=...,페이스북: https://www.facebook.com/jcbom79/
133,NaN,134.0,충북,청주남자단기청소년쉼터,충청북도 청주시 서원구 구룡산로 331-9,043-231-2676,NaN,남자,단기,15.0,http://cjfriend2676.co.kr/,NaN
134,NaN,135.0,충북,충추시여자중장기청소년쉼터,충북 충주시 봉헌로 109,043-853-0924,NaN,여자,중장기,7.0,* 135와 동일? 136과 137 아무리 찾아도 안나옴.,NaN
135,NaN,136.0,충북,충청북도중장기청소년쉼터,"충북 청주시 흥덕구 신율로 166, 3층",043-266-2204,043-262-2204,남자,중장기,7.0,NaN,NaN

In [13]:
geo_list = []
df_values = data[["주소"]].values

In [16]:
for dfv in df_values:
    try:
        lng, lat = addr_to_lat_lon(dfv)
        geo_list.append({'lat': str(lat), 'lng': str(lng)})
    except Exception:
        geo_list.append({'lat': '', 'lng': ''})

In [17]:
geo_list

[{'lat': '37.5528471041831', 'lng': '126.964368040702'},
 {'lat': '37.6254605814318', 'lng': '126.919468871602'},
 {'lat': '37.5420543398645', 'lng': '126.849224542569'},
 {'lat': '37.6412155946426', 'lng': '127.026010594801'},
 {'lat': '37.4761900248913', 'lng': '126.883723690494'},
 {'lat': '37.4682984189401', 'lng': '126.901659369647'},
 {'lat': '37.531033307862', 'lng': '126.826698091842'},
 {'lat': '37.6062211437949', 'lng': '127.108839126894'},
 {'lat': '37.5520255224142', 'lng': '126.916683666284'},
 {'lat': '37.4691504604724', 'lng': '126.923385927983'},
 {'lat': '37.6261838916725', 'lng': '126.923807527137'},
 {'lat': '37.5227713188467', 'lng': '127.133949850418'},
 {'lat': '37.5709099890002', 'lng': '126.9854441429'},
 {'lat': '37.5709099890002', 'lng': '126.9854441429'},
 {'lat': '37.5232024269718', 'lng': '127.131967887095'},
 {'lat': '37.5515569800024', 'lng': '126.853586110958'},
 {'lat': '36.4509493893809', 'lng': '127.129351485813'},
 {'lat': '36.7827370417016', 'lng': '127.010675826104'},
 {'lat': '36.789228715182', 'lng': '126.958109839199'},
 {'lat': '36.8174495702938', 'lng': '127.134160823173'},
 {'lat': '36.4584514485562', 'lng': '127.13651239384'},
 {'lat': '36.1929302770503', 'lng': '127.125178356031'},
 {'lat': '36.7963758707672', 'lng': '127.124248942323'},
 {'lat': '36.6022544345999', 'lng': '126.676112078312'},
 {'lat': '36.6022544345999', 'lng': '126.676112078312'},
 {'lat': '35.9549296659777', 'lng': '126.973315624417'},
 {'lat': '35.9671583467336', 'lng': '126.73961197871'},
 {'lat': '35.9665161512435', 'lng': '126.693210196118'},
 {'lat': '35.8378042142359', 'lng': '127.166630816288'},
 {'lat': '35.8272491601553', 'lng': '127.162397485436'},
 {'lat': '35.8121680146314', 'lng': '127.107382264591'},
 {'lat': '34.7929310301955', 'lng': '126.383934099285'},
 {'lat': '34.7947581262133', 'lng': '126.392752167239'},
 {'lat': '34.7346305850308', 'lng': '127.726628770033'},
 {'lat': '34.7723024599767', 'lng': '127.652721433973'},
 {'lat': '36.5806453746677', 'lng': '128.733777321632'},
 {'lat': '36.0241304608568', 'lng': '129.370921200079'},
 {'lat': '36.1059053346005', 'lng': '128.339756850518'},
 {'lat': '35.854432038517', 'lng': '129.210206348872'},
 {'lat': '36.1262574120351', 'lng': '128.331871055958'},
 {'lat': '36.0214771496683', 'lng': '129.35121566431'},
 {'lat': '35.2280978329469', 'lng': '128.702558825361'},
 {'lat': '35.1827574791756', 'lng': '128.063741302886'},
 {'lat': '35.2330661242316', 'lng': '128.876228158252'},
 {'lat': '35.2623377362966', 'lng': '128.639522224847'},
 {'lat': '35.2278213384456', 'lng': '128.678728968623'},
 {'lat': '33.2516983822545', 'lng': '126.512599322795'},
 {'lat': '33.2566133722462', 'lng': '126.567844373797'},
 {'lat': '33.4922171093415', 'lng': '126.543760446478'},
 {'lat': '33.52485301574', 'lng': '126.576402459568'},
 {'lat': '33.5149345777914', 'lng': '126.532215713718'},
 {'lat': '33.3697915096091', 'lng': '126.282891409314'},
 {'lat': '35.5893855001316', 'lng': '129.370586072749'},
 {'lat': '35.5549211325095', 'lng': '129.321153441138'},
 {'lat': '35.5388726724399', 'lng': '129.308412033354'},
 {'lat': '35.5336418064766', 'lng': '129.331493535796'},
 {'lat': '35.4936526387249', 'lng': '129.212861019696'},
 {'lat': '35.1809114047219', 'lng': '128.985243287727'},
 {'lat': '35.1575711127284', 'lng': '129.120610498294'},
 {'lat': '35.2671441140721', 'lng': '129.08850842539'},
 {'lat': '35.1809114047219', 'lng': '128.985243287727'},
 {'lat': '35.1809114047219', 'lng': '128.985243287727'},
 {'lat': '35.8577768149775', 'lng': '128.587726312472'},
 {'lat': '35.8361287461225', 'lng': '128.539459720152'},
 {'lat': '35.869932006114', 'lng': '128.590123325509'},
 {'lat': '', 'lng': ''},
 {'lat': '35.8595842560914', 'lng': '128.639855365291'},
 {'lat': '35.8467440314441', 'lng': '128.545212100651'},
 {'lat': '37.4730712226844', 'lng': '126.703543607211'},
 {'lat': '37.4541765417742', 'lng': '126.67618244406'},
 {'lat': '37.4906883051357', 'lng': '126.740121677874'},
 {'lat': '37.4489806064423', 'lng': '126.726339276215'},
 {'lat': '37.4116828683314', 'lng': '126.681545964404'},
 {'lat': '37.4872559695725', 'lng': '126.737898511661'},
 {'lat': '37.4556065988458', 'lng': '126.729019761493'},
 {'lat': '37.4548513147544', 'lng': '126.674479584086'},
 {'lat': '35.1222549650313', 'lng': '126.865292135526'},
 {'lat': '', 'lng': ''},
 {'lat': '35.1597884133663', 'lng': '126.905080724473'},
 {'lat': '35.1597884133663', 'lng': '126.905080724473'},
 {'lat': '35.1597884133663', 'lng': '126.905080724473'},
 {'lat': '36.3337310530365', 'lng': '127.378431912435'},
 {'lat': '36.3283653349031', 'lng': '127.426730095719'},
 {'lat': '36.3491962748623', 'lng': '127.366329624205'},
 {'lat': '36.3283653349031', 'lng': '127.426730095719'},
 {'lat': '36.3406233187757', 'lng': '127.435050357765'},
 {'lat': '', 'lng': ''},
 {'lat': '37.6835661579007', 'lng': '126.819357782561'},
 {'lat': '37.6938811987191', 'lng': '126.769918528712'},
 {'lat': '37.597331321941', 'lng': '127.131675644504'},
 {'lat': '37.5971045593975', 'lng': '127.134457801565'},
 {'lat': '37.3755227375005', 'lng': '126.941002365402'},
 {'lat': '37.627253284278', 'lng': '127.202411634152'},
 {'lat': '37.4879614104766', 'lng': '126.815017645327'},
 {'lat': '37.4653179843628', 'lng': '127.137352114871'},
 {'lat': '37.4331648661797', 'lng': '127.129705118458'},
 {'lat': '37.4320810801817', 'lng': '127.126166181342'},
 {'lat': '37.4361597114143', 'lng': '127.142793906397'},
 {'lat': '37.2506997110015', 'lng': '127.018593060267'},
 {'lat': '37.4320852070538', 'lng': '126.792593839609'},
 {'lat': '37.3018660494573', 'lng': '126.812480684929'},
 {'lat': '37.4034180181391', 'lng': '126.961472211766'},
 {'lat': '37.3952498535075', 'lng': '126.922048995703'},
 {'lat': '37.3767779302579', 'lng': '126.956301952524'},
 {'lat': '37.3323516285718', 'lng': '127.098472998584'},
 {'lat': '37.3272772767401', 'lng': '127.101367127631'},
 {'lat': '37.2820784139797', 'lng': '127.448294122066'},
 {'lat': '37.6375371805389', 'lng': '126.704672173597'},
 {'lat': '37.4890339284942', 'lng': '126.784382532668'},
 {'lat': '37.4283240745974', 'lng': '127.132862398986'},
 {'lat': '37.275747096853', 'lng': '127.015896409674'},
 {'lat': '37.3522757906551', 'lng': '126.745291806425'},
 {'lat': '37.3368592235488', 'lng': '126.842144825164'},
 {'lat': '37.159462523328', 'lng': '127.066667716761'},
 {'lat': '37.7327213530906', 'lng': '127.041804289487'},
 {'lat': '37.7549956897762', 'lng': '127.029782736425'},
 {'lat': '37.7484120412583', 'lng': '127.042452612019'},
 {'lat': '36.9964321558801', 'lng': '127.107331340859'},
 {'lat': '37.5411051179965', 'lng': '127.215999629174'},
 {'lat': '37.2236713760043', 'lng': '126.951255583716'},
 {'lat': '37.754124677373', 'lng': '128.897269472011'},
 {'lat': '37.8835265463517', 'lng': '127.744545658848'},
 {'lat': '37.9321854814282', 'lng': '127.722874895011'},
 {'lat': '37.8977758423467', 'lng': '127.762912467282'},
 {'lat': '37.8835265463517', 'lng': '127.744545658848'},
 {'lat': '37.8977758423467', 'lng': '127.762912467282'},
 {'lat': '37.3859942891032', 'lng': '127.949603849128'},
 {'lat': '37.8977758423467', 'lng': '127.762912467282'},
 {'lat': '37.3184474067451', 'lng': '127.963429602487'},
 {'lat': '', 'lng': ''},
 {'lat': '36.6307176454753', 'lng': '127.492397991652'},
 {'lat': '36.9639082245471', 'lng': '127.939893310234'},
 {'lat': '37.1554424525892', 'lng': '128.216178022416'},
 {'lat': '36.6189551477943', 'lng': '127.481473230901'},
 {'lat': '', 'lng': ''},
 {'lat': '36.6324090588617', 'lng': '127.447700950233'}]

In [18]:
geo_df = pd.DataFrame(geo_list)
geo_df

                  lat               lng
0    37.5528471041831  126.964368040702
1    37.6254605814318  126.919468871602
2    37.5420543398645  126.849224542569
3    37.6412155946426  127.026010594801
4    37.4761900248913  126.883723690494
..                ...               ...
131  36.9639082245471  127.939893310234
132  37.1554424525892  128.216178022416
133  36.6189551477943  127.481473230901
134
135  36.6324090588617  127.447700950233

[136 rows x 2 columns]

In [19]:
result = pd.concat([data, geo_df], axis=1)

In [20]:
result

,Unnamed: 0,인덱스,지역,기관명,주소,전화번호(1),전화번호(2),대상,유형,정원,홈페이지 주소,Unnamed: 11,lat,lng
0,NaN,1.0,서울,서울시립용산일시청소년쉼터,서울 용산구 만리재로 156-1,02-718-1318,NaN,공용,일시,10.0,http://www.nuryworld.kr/,NaN,37.5528471041831,126.964368040702
1,NaN,2.0,서울,은평구립일시청소년쉼터,서울 은평구 통일로 89길 6-20 (갈현동),02-382-1388,NaN,여자,일시(고정형),10.0,NaN,NaN,37.6254605814318,126.919468871602
2,NaN,3.0,서울,강서청소년쉼터,"서울 강서구 초록마을로 10길 5, 201호",02-2697-7377,NaN,남자,단기,8.0,http://www.ishelter.or.kr/gnu/,NaN,37.5420543398645,126.849224542569
3,NaN,4.0,서울,서울시립강북청소년드림센터,서울 강북구 한천로140길 5-26(수유 3동),02-6435-7979,NaN,남자,일시(고정형),10.0,http://www.gbdream.or.kr/index.php,NaN,37.6412155946426,127.026010594801
4,NaN,5.0,서울,서울시립금천청소년단기쉼터,서울특별시 금천구 가산디지털1로 120,02-3281-8200,NaN,여자,단기,20.0,http://www.youthzone.or.kr/y/,NaN,37.4761900248913,126.883723690494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,NaN,132.0,충북,친구청소년쉼터(남자),충북 충주시 금봉 3길 27,043-911-3479,NaN,남자,단기,7.0,http://www.chingu3479.com/,NaN,36.9639082245471,127.939893310234
132,NaN,133.0,충북,제천여자단기펑소년쉼터(본청소년쉼터),충북 제천시 고암로4가길 3,043-643-7946,NaN,여자,단기,7.0,https://www.jecheon.go.kr/www/contents.do?key=...,페이스북: https://www.facebook.com/jcbom79/,37.1554424525892,128.216178022416
133,NaN,134.0,충북,청주남자단기청소년쉼터,충청북도 청주시 서원구 구룡산로 331-9,043-231-2676,NaN,남자,단기,15.0,http://cjfriend2676.co.kr/,NaN,36.6189551477943,127.481473230901
134,NaN,135.0,충북,충추시여자중장기청소년쉼터,충북 충주시 봉헌로 109,043-853-0924,NaN,여자,중장기,7.0,* 135와 동일? 136과 137 아무리 찾아도 안나옴.,NaN,,
135,NaN,136.0,충북,충청북도중장기청소년쉼터,"충북 청주시 흥덕구 신율로 166, 3층",043-266-2204,043-262-2204,남자,중장기,7.0,NaN,NaN,36.6324090588617,127.447700950233

In [21]:
result.to_excel('./기관_정보_위경도.xlsx')